#cordefundo
{
    background-color: #bce4ec;    
}

#logotipo
{
    font-style: Georgia;
    color: #247494;
    font-size: 35px;
    text-align: left;
}
#copyright{

    font-size: 15px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#links
{
    font-size: 20px;
    text-align:center;

}

#linkregistro
{
    font-size: 20px;
    text-align:left; 
}

.fontetextual 
{

    Font-family: Cambria, Georgia, serif;   
    
}

.titulos
{
    color: #247494;
    font-size:30px
}

.textos
{
    color: #000000;
    font-size: 20px;    
}
    

#bordaimagem
{
    border-style: solid;
    border-color: #247494;
    border-width: 3px;
}