#cordefundo
{
background-color: #bce4ec;    
}

#logotipo
{
    font-style: Georgia;
    color: #247494;
    font-size: 35px;
}

 .links
{

font-size: 20px

}

.fonteletra
{
    Font-family: Cambria, Georgia, serif;
    
}



.titulos
{
color: #247494;

}

    